<a href="https://github.com/<%= @user.login %>" class="github">
  <img src="https://secure.gravatar.com/avatar/<%= @user.gravatar_id %>?s=140&amp;d=https://github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" width=20 height=20>
  <%= @user.login %> @ github
</a>

<div class="stats">
  <div class="num"><%= @user.public_repo_count || 0 %></div>
  <div class="caption">public repos</div>
</div>

<div class="stats last">
  <div class="num"><%= @user.followers_count || 0 %></div>
  <div class="caption">followers</div>
</div>
